:root {
  /* Variables */
  --color-primary-50: #ecf6fe;
  --color-primary-100: #d9edfd;
  --color-primary-200: #b3dbfb;
  --color-primary-300: #8ec9f9;
  --color-primary-400: #68b7f7;
  --color-primary-500: #42a5f5;
  --color-primary-600: #3584c4;
  --color-primary-700: #286393;
  --color-primary-800: #1a4262;
  --color-primary-900: #0d2131;

  --color-secondary-50: #fff3e0;
  --color-secondary-100: #ffe0b2;
  --color-secondary-200: #ffcc80;
  --color-secondary-300: #ffb74d;
  --color-secondary-400: #ffa726;
  --color-secondary-500: #ff9800;
  --color-secondary-600: #fb8c00;
  --color-secondary-700: #f57c00;
  --color-secondary-800: #ef6c00;
  --color-secondary-900: #e65100;

  --color-success-50: #ebfaeb;
  --color-success-100: #d6f5d6;
  --color-success-200: #adebad;
  --color-success-300: #85e085;
  --color-success-400: #5cd65c;
  --color-success-500: #33cc33;
  --color-success-600: #29a329;
  --color-success-700: #1f7a1f;
  --color-success-800: #145214;
  --color-success-900: #0a290a;

  --color-danger-50: #faebeb;
  --color-danger-100: #f5d6d6;
  --color-danger-200: #ebadad;
  --color-danger-300: #e08585;
  --color-danger-400: #d65c5c;
  --color-danger-500: #cc3333;
  --color-danger-600: #a32929;
  --color-danger-700: #7a1f1f;
  --color-danger-800: #521414;
  --color-danger-900: #290a0a;

  --color-grey-50: #f2f2f2;
  --color-grey-100: #e6e6e6;
  --color-grey-200: #cccccc;
  --color-grey-300: #b3b3b3;
  --color-grey-400: #999999;
  --color-grey-500: #808080;
  --color-grey-600: #666666;
  --color-grey-700: #4d4d4d;
  --color-grey-800: #333333;
  --color-grey-900: #1a1a1a;

  --color-white: #fff;
  --color-black: #000;

  /* Bootstrap variables overrides */
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #42a5f5;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #2e294e;
  --bs-primary-rgb: 66, 165, 245;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 46, 41, 78;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: 'Poppins', sans-serif;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 20px;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.7;
  --bs-body-color: var(--bs-gray-700);
  --bs-body-bg: #fff;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #0d6efd;
  --bs-link-hover-color: #0a58ca;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;
}

.btn {
  --bs-btn-border-radius: 12px;
  --bs-btn-padding-x: 36px;
  --bs-btn-padding-y: 16px;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  color: var(--color-primary-700);
}

.btn::before {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  width: 0;
  height: calc(100% + 2px);
  background-color: var(--color-secondary-500);
  border-radius: inherit;
  transition: width 0.5s ease, color 0.3s ease;
  z-index: 1;
}

.btn:hover {
  color: #fff;
}

.btn:hover::before {
  width: calc(100% + 2px);
}

.btn span {
  position: relative;
  z-index: 2;
}

.btn-sm {
  --bs-btn-padding-x: 18px;
  --bs-btn-padding-y: 8px;
  font-size: 16px;
}

.btn-primary {
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-border-color: #5f54a0;
}

.btn-outline-primary {
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-border-color: #5f54a0;
}

.btn-primary:hover,
.btn-outline-primary:hover {
  background-color: #5f54a0;
  border-color: transparent !important;
}

.card {
}

.modal {
  --bs-modal-border-radius: 24px;
}

/* Tags styling */
body {
  overflow-x: hidden;
}

section {
  background-color: #fff;
}

img {
  width: 100%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Reusable classes */
.text-panarama {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.icon-badge {
  font-size: 64px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.section-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-hero {
  height: 50vh;
}

.side-img-container {
  width: 100%;
  height: 400px;
}

.side-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}

.blockquote {
  color: #fff;
  background-color: var(--bs-primary);
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 24px;
}

.blockquote::before {
  content: '``';
  font-size: 160px;
  position: absolute;
  top: -26px;
  left: -16px;
  line-height: 1;
  opacity: 0.6;
}

.blockquote-content {
  padding: 36px;
}

.highlights-content {
  max-width: 800px;
  margin: 0 auto;
}

.sector-gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vh-50 {
  height: 50vh;
}

/* Bootstrap classes override */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6,
.card-title {
  font-weight: 800;
}

.card-img-top {
  border-radius: 0;
  height: 240px;
  width: 100%;
  object-fit: cover;
}

.form-control {
  border-radius: 12px;

  font-size: 20px;
}

/*******************************************/
/* Header styling start */
/*******************************************/
.header {
}

.header .nav-link {
  color: #fff;
  font-size: 16px;
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
}

.header .nav-link:hover {
  border-bottom: 2px solid #fff;
}

.header .nav-link.active {
  border-bottom: 2px solid #fff;
}
/*******************************************/
/* Header styling end */
/*******************************************/

/*******************************************/
/* OLD hero section styling start */
/*******************************************/
/* .section-index-hero {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.section-index-hero::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-video-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
/*******************************************/
/* OLD hero section styling end */
/*******************************************/

/*******************************************/
/* NEW Hero section styling start */
/*******************************************/
.section-hero {
  height: 100vh;
  color: #fff;
  background-color: var(--color-primary-500);

  position: relative;
}

.hero-title {
  line-height: 100%;
}

.hero-cta:link,
.hero-cta:visited {
  background-color: #fff;
  padding: 16px 48px;
  font-weight: 600;
  border: none;
  border-radius: 16px;
  text-decoration: none;
  display: inline-block;
}

.hero-video-container {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 16px;
  position: relative;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

/* .hero-video-container::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-secondary-200);
  opacity: 0.5;
  border-radius: 16px;

  z-index: 5;
} */

.hero-video-img-container {
  position: relative;

  z-index: 2;
}

.hero-box-video,
.hero-video-img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: cover;
}

.hero-video-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--color-secondary-100);
  color: var(--color-secondary-400);
  font-size: 32px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 16px 32px rgba(184, 204, 51, 0.24);
}

.hero-video-button:hover {
  color: var(--color-secondary-500);
}

.hero-video-button::before {
  content: '';
  display: inline-block;
  background-color: var(--color-secondary-100);
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease;
}

.hero-video-button:hover::before {
  transform: scale(2);
  opacity: 0;
}

.hero-video-button i {
  margin-left: 5px;
  margin-top: 2px;
  position: relative;
}

.small-box,
.big-box {
  z-index: 1;
  position: absolute;
  border-radius: 16px;
}

.small-box {
  bottom: 0;
  left: 0;
  width: 120px;
  height: 120px;
  transform: translate(-50%, 50%);
  background-color: var(--color-secondary-300);
}

.big-box {
  top: 0;
  right: 0;
  width: 200px;
  height: 200px;
  transform: translate(50%, -50%);
  border: 3px solid var(--color-secondary-300);
}

.dotted-box {
  z-index: 1;
  position: absolute;
  border-radius: 16px;
  border: 3px solid var(--color-secondary-300);
  border-style: dashed;
  width: 200px;
  height: 200px;
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
}

/* Video modal */
.hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-modal-close-btn {
  position: absolute;
  z-index: 10;
  top: 16px;
  right: 32px;
  height: 48px;
  width: 48px;
  color: var(--color-secondary-100) !important;
  background-color: var(--color-primary-500);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 32px;
  opacity: 0.6;
  transition: all 0.3s ease;
}

.video-modal-close-btn:hover {
  opacity: 1;
}
/*******************************************/
/* NEW Hero section styling end */
/*******************************************/

/*******************************************/
/* About section styling start */
/*******************************************/
.section-about {
  /* This margin is required if we are using OLD Hero section */
  /* margin-top: 100vh; */
}

.director-video {
  border-radius: 24px;
}
/*******************************************/
/* About section styling end */
/*******************************************/

/*******************************************/
/* Message section styling start */
/*******************************************/
.section-message {
  background-color: var(--color-secondary-500);
}

.section-message .hero-video-container::after {
  background-color: var(--color-primary-200);
}

.section-message .small-box {
  background-color: var(--color-primary-200);
}

.section-message .big-box {
  border-color: var(--color-primary-200);
}

.section-message .dotted-box {
  border-color: var(--color-primary-200);
}

.section-message .hero-video-button {
  color: var(--color-primary-400);
}

.section-message .hero-video-button:hover {
  color: var(--color-primary-500);
}
/*******************************************/
/* Message section styling end */
/*******************************************/

/*******************************************/
/* Mission section styling start */
/*******************************************/
.section-mission {
}

.mission-card {
  border-radius: 24px;
  transition: all 0.5s ease;
}

.mission-card:hover {
  transform: translateY(-16px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.06);
}
/*******************************************/
/* Mission section styling end */
/*******************************************/

/*******************************************/
/* Sector section styling start */
/*******************************************/
.section-sectors {
}

.sector-card {
  height: 360px;
  background-color: violet;
  position: relative;
  overflow: hidden;
  border-radius: 24px;
  margin: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.06);
}

.sector-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.sector-card-content-wrapper {
  position: absolute;
  top: 85%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease;
}

.sector-card-content-wrapper-lg {
  top: 78%;
}

.sector-card-content {
  width: 100%;
  min-height: 100%;
  padding: 16px;
  color: #fff;
  background-color: rgba(var(--bs-primary-rgb), 0.85);
}

.sector-card:hover .sector-card-content-wrapper {
  top: 0;
  overflow-y: scroll;
}

/*******************************************/
/* Sector section styling end */
/*******************************************/

/*******************************************/
/* Quality section styling start */
/*******************************************/
.section-quality {
}

.quality-card {
  transition: all 0.5s ease;
  border-radius: 24px;
  margin: 16px;
}

.quality-card:hover {
  transform: translateY(-16px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.06);
}
/*******************************************/
/* Quality section styling end */
/*******************************************/

/*******************************************/
/* Team section styling start */
/*******************************************/
.section-team {
}

.team-card {
  position: relative;
  border-radius: 24px;
  overflow: hidden;
  margin: 16px;
}

.team-card::before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 108px;
  background-color: var(--bs-primary);
  z-index: 1;
}

.team-body {
  position: relative;
  z-index: 2;
  text-align: center;
}

.team-img {
  height: 160px;
  width: 160px;
  margin-bottom: 16px;
  border-radius: 24px;
}

.team-name {
}

.team-designation {
}

.team-nav {
}

.team-list {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  grid-gap: 32px;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}

.team-item {
}

.team-link:link,
.team-link:visited {
  width: 32px;
  height: 32px;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--bs-primary);
  transition: all 0.3s ease;
}

.team-link:hover {
  background-color: var(--bs-gray-200);
}

/*******************************************/
/* Team section styling end */
/*******************************************/

/*******************************************/
/* Footer section styling start */
/*******************************************/
.footer {
}

.footer-nav {
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  color: #fff;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}

.footer-link:hover {
  border-block-color: #fff;
}

/*******************************************/
/* Footer section styling end */
/*******************************************/

/*******************************************/
/* Energy hero section styling start */
/*******************************************/
.section-hero-energy {
  background-image: linear-gradient(
      to right,
      rgba(var(--bs-primary-rgb), 0.8),
      rgba(var(--bs-primary-rgb), 0.8)
    ),
    url('./../img/energy/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/*******************************************/
/* Energy hero section styling end */
/*******************************************/

/*******************************************/
/* Railway hero section styling start */
/*******************************************/
.section-hero-railway {
  background-image: linear-gradient(
      to right,
      rgba(var(--bs-primary-rgb), 0.8),
      rgba(var(--bs-primary-rgb), 0.8)
    ),
    url('./../img/railway/hero.jpg');
  background-size: cover;
  background-position: center 70%;
  background-repeat: no-repeat;
}
/*******************************************/
/* Railway hero section styling end */
/*******************************************/

/*******************************************/
/* Port hero section styling start */
/*******************************************/
.section-hero-port {
  background-image: linear-gradient(
      to right,
      rgba(var(--bs-primary-rgb), 0.8),
      rgba(var(--bs-primary-rgb), 0.8)
    ),
    url('./../img/port/hero.jpg');
  background-size: cover;
  background-position: center 40%;
  background-repeat: no-repeat;
}
/*******************************************/
/* Port hero section styling end */
/*******************************************/

/*******************************************/
/* Road hero section styling start */
/*******************************************/
.section-hero-road {
  background-image: linear-gradient(
      to right,
      rgba(var(--bs-primary-rgb), 0.8),
      rgba(var(--bs-primary-rgb), 0.8)
    ),
    url('./../img/road/hero.jpg');
  background-size: cover;
  background-position: center 80%;
  background-repeat: no-repeat;
}
/*******************************************/
/* Road hero section styling end */
/*******************************************/

/*******************************************/
/* Infrastructure hero section styling start */
/*******************************************/
.section-hero-infrastructure {
  background-image: linear-gradient(
      to right,
      rgba(var(--bs-primary-rgb), 0.8),
      rgba(var(--bs-primary-rgb), 0.8)
    ),
    url('./../img/infrastructure/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/*******************************************/
/* Infrastructure hero section styling end */
/*******************************************/

/*******************************************/
/* Design hero section styling start */
/*******************************************/
.section-hero-design {
  background-image: linear-gradient(
      to right,
      rgba(var(--bs-primary-rgb), 0.8),
      rgba(var(--bs-primary-rgb), 0.8)
    ),
    url('./../img/design/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/*******************************************/
/* Design hero section styling end */
/*******************************************/

/*******************************************/
/* Environment hero section styling start */
/*******************************************/
.section-hero-environment {
  background-image: linear-gradient(
      to right,
      rgba(var(--bs-primary-rgb), 0.8),
      rgba(var(--bs-primary-rgb), 0.8)
    ),
    url('./../img/environment/hero.jpg');
  background-size: cover;
  background-position: center 30%;
  background-repeat: no-repeat;
}
/*******************************************/
/* Environment hero section styling end */
/*******************************************/

/*******************************************/
/* Finance hero section styling start */
/*******************************************/
.section-hero-finance {
  background-image: linear-gradient(
      to right,
      rgba(var(--bs-primary-rgb), 0.8),
      rgba(var(--bs-primary-rgb), 0.8)
    ),
    url('./../img/finance/hero.jpg');
  background-size: cover;
  background-position: center 80%;
  background-repeat: no-repeat;
}
/*******************************************/
/* Finance hero section styling end */
/*******************************************/

/*******************************************/
/* Operation hero section styling start */
/*******************************************/
.section-hero-operation {
  background-image: linear-gradient(
      to right,
      rgba(var(--bs-primary-rgb), 0.8),
      rgba(var(--bs-primary-rgb), 0.8)
    ),
    url('./../img/operation/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/*******************************************/
/* Operation hero section styling end */
/*******************************************/
